@import "tailwindcss";

#mainPic {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#mainPic img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  
  z-index: -1;       
}

body{
  font-family: "Poppins", sans-serif;
}

.video-responsive {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  margin-top: 70px;       
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;          
  height: 50%;          
  border: 0;
}



.glitch {
  font-size: 40px;
  font-weight: bold;
  color: white;
  position: relative;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
}

.glitch::before {
  color: red;
  animation: glitch 0.3s infinite;
}

.glitch::after {
  color: blue;
  animation: glitch 0.3s infinite reverse;
}

@keyframes glitch {
  0% { transform: translate(0); }
  20% { transform: translate(-3px, 2px); }
  40% { transform: translate(3px, -2px); }
  60% { transform: translate(-2px, -1px); }
  80% { transform: translate(2px, 1px); }
  100% { transform: translate(0); }
}

